# Server
APP_ENV=dev
APP_DEBUG=true
SERVER_HOST=localhost
SERVER_PORT=8080

# Security
APP_SECRET={{APP_SECRET}}

# Database
DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Logging
LOG_LEVEL=info

# TLS / Let's Encrypt
CERT_HOSTNAME=
CERT_EMAIL=
SSL_MODE=staging
